# MongoDB Connection String
# Example: mongodb+srv://USER:PASSWORD@cluster.mongodb.net/DATABASE_NAME
MONGODB_URI=

# Google OAuth2 Credentials
# Get these from Google Cloud Console (APIs & Services -> Credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
